# DisableFormat: true
IndentWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterFunction: true
  AfterControlStatement: Always
  BeforeElse: true
  BeforeCatch: true
PointerAlignment: Left
ReferenceAlignment: Left
AccessModifierOffset: -4
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveAssignments:
  Enabled: true
  AcrossComments: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
IndentCaseLabels: true
AlignArrayOfStructures: Left
