Makefile.in
Makefile
.deps
.libs
.dirstamp
*.o
*.lo
*.la
*.swp
*.pyc
*.doxytags
*~
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
py-compile
run-check.conf
dballe/core/aliases.c
dballe/core/record_keyword.c
dballe/core/uniconv.c
dballe/bufrex/template-aliases.c
dballe/msg/vars.c
dballe/msg/vars.h
libdballe.pc
libdballef.pc
libdballepp.pc
libtool
stamp-h1
tables/B000000002001200.txt
/dbadb.1
/dbamsg.1
/dbatbl.1
/dballe++/tut_test
/dballe/bench/benchmark
/dballe/bufrex/template-aliases.tex
/dballe/bufrex/tut_test
/dballe/core/aliases.dox
/dballe/core/aliases.tex
/dballe/core/btable.dox
/dballe/core/record_keyword.dox
/dballe/core/record_keyword.rst
/dballe/core/record_keyword.tex
/dballe/core/tut_test
/dballe/db/tut_test
/dballe/msg/ltypes.dox
/dballe/msg/ltypes.tex
/dballe/msg/tranges.dox
/dballe/msg/tranges.tex
/dballe/msg/tut_test
/fortran/check_attrs
/fortran/check_fdballe
/fortran/check_missing
/fortran/check_range
/fortran/check_real0
/fortran/dbtest.mod
/fortran/dump_dballe
/fortran/dumpmsg_dballe
/fortran/mkmsg
/fortran/genattr
/provami/provami/Paths.py
/swig/_dballe.so
/swig/dballe
/swig/dballe.py
/swig/dballe_wrap_python.cc
/swig/python-dballe.html
/swig/python-dballe.rst
/tables/dballe.tex
/tools/dbadb
/tools/dbamsg
/tools/dbatbl

