Makefile.in
Makefile
.deps
.libs
.dirstamp
*.o
*.lo
*.la
*.swp
*.pyc
*.doxytags
*~
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/py-compile
/run-check.conf
/libdballe.pc
/libdballef.pc
/libtool
/stamp-h1
/dbadb.1
/dbamsg.1
/dbatbl.1
/dballe/core/btable.dox
/dballe/bench/benchmark
/dballe/core/record_keyword.dox
/dballe/core/record_keyword.rst
/dballe/core/record_keyword.tex
/dballe/core/record_keyword.cc
/dballe/core/aliases.cc
/dballe/core/aliases-reverse.cc
/dballe/core/aliases.dox
/dballe/core/aliases.tex
/dballe/core/tut_test
/dballe/msg/vars.gperf
/dballe/msg/vars.cc
/dballe/msg/vars.h
/dballe/msg/msg-extravars.h
/dballe/msg/ltypes.dox
/dballe/msg/ltypes.tex
/dballe/msg/tranges.dox
/dballe/msg/tranges.tex
/dballe/msg/tut_test
/dballe/db/tut_test
/fortran/check_attrs
/fortran/check_fdballe
/fortran/check_missing
/fortran/check_range
/fortran/check_real0
/fortran/dbtest.mod
/fortran/dump_dballe
/fortran/dumpmsg_dballe
/fortran/mkmsg
/fortran/genattr
/provami/provami/Paths.py
/swig/_dballe.so
/swig/dballe
/swig/dballe.py
/swig/dballe_wrap_python.cc
/swig/python-dballe.html
/swig/python-dballe.rst
/tables/dballe.tex
/tables/B0000000000200014001.txt
/tables/B000000002001400.txt
/tables/B990204.txt
/tools/dbadb
/tools/dbamsg
/tools/dbatbl
/debian/*.debhelper.log
/debian/*.debhelper
/debian/*.substvars
/debian/stamp-*
/debian/files
/debian/dballe-common/
/debian/dballe/
/debian/libdballe-dev/
/debian/libdballe-doc/
/debian/libdballe5/
/debian/libdballef-dev/
/debian/libdballef4/
/debian/provami/
/debian/python-dballe/
/debian/tmp/

