# Put this file in .git/ to configure access to test databases.
# See doc/fapi_connect.md

#DBA_DB_SQLITE=sqlite://test.sqlite
#DBA_DB_POSTGRESQL=postgresql:///test
#DBA_DB_MYSQL=mysql:///test

# Default database to use for command line tools
#DBA_DB=$DBA_DB_SQLITE
