Source: libdballe
Priority: optional
Maintainer: Enrico Zini <enrico@debian.org>
Build-Depends: cdbs, debhelper (>> 4.1), dh-buildinfo, doxygen, libtut-dev, check, unixodbc-dev, gperf, g77, libpopt-dev, latex2html
Standards-Version: 3.6.1

Package: libdballe-dev
Section: libdevel
Architecture: any
Depends: libdballe1 (= ${Source-Version})
Recommends: pkg-config
Description: volatile database for computations on meteorological data
 .
 This is the development version of the library.

Package: libdballe1
Section: libs
Architecture: any
Depends: ${shlibs:Depends} ${misc:Depends}
Description: volatile database for computations on meteorological data
 .

Package: libdballe-bin
Section: misc
Architecture: any
Depends: ${shlibs:Depends} ${misc:Depends}
Description: Various tools for manipulating meteorological data and a DB-ALLe database
 Various miscellaneous utility functions for working with meteorological data
 encoded in WMO FM 95 BUFR and CREX formats or AOF format.
