#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

# Work around to latex2html bug #368693
export RGBDEF=/usr/share/latex2html/styles/rgb.txt

DEB_PYTHON2_MODULE_PACKAGES := provami

#DEB_MAKE_CHECK_TARGET := check

# From http://wiki.debian.org/DebianPython/NewPolicy
binary-install/python-dballe::
	rm $(CURDIR)/debian/python-dballe/usr/share/pyshared/_dballe.la

# Store build information
common-binary-post-install-arch common-binary-post-install-indep::
	dh_buildinfo

debsrc:
	git-buildpackage -S -us -uc
