#!/usr/bin/make -f

%:
	dh $@ --buildsystem=pybuild --without autoreconf --parallel

override_dh_makeshlibs:
	# For new symbols when compiled with GCC 7. See: #871272
	dh_makeshlibs -V'libdballe (>= 9.0-1~)'
