/check_attrs
/check_fdballe
/check_messages
/check_messages_stdinstdout
/check_set
/check_missing
/check_missing_msg
/check_range
/check_real0
/check_multiplehandler
/check_segfault1
/check_spiegab
/check_transactions1
/check_connect_wipe
/check_fdballe_oldapi
/dballef.mod
/genattr
/dbtest.mod
/test.mod
/dump_dballe
/dumpmsg_dballe
/mkmsg
/mkmsg-sca
